<!DOCTYPE html>
<html>
  <head>
    <title>Upload the details of this movie!</title>
  </head>
  <body>
    <h1>Details :</h1>
    <form action="/create" method="GET">
      <label for="film">Movie name:</label>
      <input type="text" id="film" name="film" required><br><br> 
      <label for="director">Director:</label>
      <input type="text" id="director" name="director" required><br><br>
      <label for="year">Year:</label>
      <input type="text" id="year" name="year" required><br><br>
      <label for="box">Box Office:</label>
      <input type="text" id="box" name="box" required><br><br>
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
