<!DOCTYPE html>
<html>
  <head>
    <title>secrets</title>
  </head>
  <body>
    <h1>You have successfully logged in.</h1>
    <h2>Welcome back, <%= name %> </h2>
     <button onclick="home()">Home</button>
     <script>
     function home() {
        fetch('/home', {method: 'post'})
          window.location.href = '/home';
          }
     </script>
     <button onclick="logout()">Logout</button>
     <script>
     function logout() {
      fetch('/logout', {method: 'post'})
      window.location.href = '/logout';
	}
  </script>
  </body>
</html>