
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
      body {
        margin: 100px;
      }
    </style>
  </head>

  <body>
    <h2>All Movies Are Here</h2>
    <ul>
      <% result.forEach((result)=>{ %>
          <li><%= result.film %> <%= result.director %> <%= result.year %> </li>
      <%})%>
    </ul>

    
  </body>
</html>
