<!DOCTYPE html>
<html>
    <body>
        <h1>All Movies</h1>
        <ul>
            <% movies.forEach(function(movies) { %>
        	<li><%= movies.title %></li>
            <% } %>
        </ul>
        <a href="/home">Home page</a>
    </body>
</html>
